In [31]:
!mysqld --version

mysqld  Ver 5.7.17 for osx10.11 on x86_64 (Homebrew)

In [32]:
!mysql.server start

Starting MySQL
 SUCCESS!

In [8]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-1.3.12.tar.gz (89kB)
    100% |████████████████████████████████| 92kB 628kB/s ta 0:00:01
Building wheels for collected packages: mysqlclient
  Running setup.py bdist_wheel for mysqlclient ... - \ | / done
  Stored in directory: /Users/kkb/Library/Caches/pip/wheels/df/bb/60/bf7c315cbe163515db1c846e4ffa5557dd785c82e82f3492e8
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-1.3.12

In [16]:
import MySQLdb

In [40]:
conn = MySQLdb.connect(db='scraping', user='scraper', passwd='password', charset='utf8mb4')

In [41]:
c = conn.cursor() #カーソルを取得

In [35]:
c.execute('DROP TABLE IF EXISTS cities') #あったら消す。

0

In [22]:
#citiesテーブルの作成
c.execute('''
    CREATE TABLE cities(
        rank integer,
        city text,
        population integer
    )
''')

0

In [23]:
#execute()メソッドの第2引数にはSQL文のパラメータを指定できる
#プレースホルダーは%sで指定
c.execute('INSERT INTO cities VALUES (%s, %s, %s)', (1,'上海',24150000))

1

In [25]:
#パラメータが辞書の場合、プレースホルダーは%(名前)sで指定
c.execute('INSERT INTO cities VALUES (%(rank)s, %(city)s, %(population)s)',
         {'rank':2, 'city':'カラチ', 'population': 23500000})

1

In [26]:
#executemany()メソットでは複数のパラメータをリストで指定し複数のSQL文を実行
c.executemany('INSERT INTO cities VALUES (%(rank)s, %(city)s, %(population)s)',
         [{'rank':3, 'city':'北京', 'population': 21516000},
         {'rank':4, 'city':'天津', 'population': 14722100},
         {'rank':5, 'city':'イスタンブル', 'population': 14160467}]   
             )

3

In [36]:
conn.commit() #変更をコミット

In [42]:
c.execute('SELECT * FROM cities')

ProgrammingError: (1146, "Table 'scraping.cities' doesn't exist")

In [29]:
for row in c.fetchall():
    print(row)

(1, '上海', 24150000)
(2, 'カラチ', 23500000)
(3, '北京', 21516000)
(4, '天津', 14722100)
(5, 'イスタンブル', 14160467)

In [30]:
conn.close()